body{
    font-family: "segoe UI",Tohoma,sans-serif;
    line-height: 1.6;
    background-color: #8b6ae5ce;
    color:#333;
}
header{
    background-color: #3499db;
    color: #333;
    text-align: center;
    padding: 2rem 0;
    border: 10px solid rgba(0, 0, 0, 0.971);
    border-radius: 10px;
}
nav{
    background-color: #2c3c50;
    padding: 1rem 0;
    position: static;
    top: 0;
    z-index: 1000;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    margin: 0 15px;
}
nav ul li a:hover{
    color: #28d1f7;
    border: 2px solid rgba(7, 139, 159, 0.486);
    border-radius: 8px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.section{
    background-color: #fff;
    color: #333;
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section h2{
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

#contact_form button{
    background-color: #3498db;
    color: #333;
    border-radius: 4px;
    width: 100px;
    display: flex;
    justify-content: center;
}
#contact_form button:hover{
    background-color: #28d128;
    font-weight: 600;
    color: #fff;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center;
}
#contact_form input,#contact_form textarea{
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
#contact_form {
    display: flex;
    flex-direction: column;  
}
.experience_item{
    margin-bottom: 5rem;
}
.experience_item h3{
    margin-bottom: 0.5rem;
    color: #c5aa7c;
}
.experience_item ul{
    margin-left: 20px;
}
.experience_item ul li{
    margin-bottom: 0.5rem;
}
#admin_login,adminsection,admin_responce{
    display: none;
}
#admin_section,user_responce{
    display: none;
}
#toggle_theme{
    background-color: #2c3c50;
    color: #fff;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition:background-color 1.3s ease;
}
#toggle_theme:hover{
    background-color: #ddd;
    color: #2c3c50;
}
.darkmode{
    background-color:#2c3c50;
    color:#ecf0f1;
}
.darkmode header{
    background-color: #34495e;
    color:#ecf0f1;
}
.darkmode section{
    background-color: #3C3D37;
    color:#ecf0f1;
}
.darkmode nav{
    background-color: #555;
}
